[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
gym = "*"
joblib = "*"
"mpi4py" = "*"
servoarray = "==0.3"
baselines = {path = "./baselines", editable = true}
"mpu6050-raspberrypi" = {git = "https://github.com/Tijndagamer/mpu6050", ref = "python3-dev"}
"smbus2" = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"

[scripts]
fix = "autopep8 -ivr ."
lint = "flake8 ."

[requires]
python_version = "3.5"
