[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "!=1.12.0"
gym = "*"
joblib = "*"
"mpi4py" = "*"
servoarray = ">=0.4"
baselines = {path = "./baselines", editable = true}
"smbus2" = "*"
icsservo = ">=0.2"
"adafruit-adxl345" = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"

[scripts]
fix = "autopep8 -ivr ."
lint = "flake8 ."

[requires]
python_version = "3.5"
